.hero {
	height: 100vh;
	width: 100vw;
	color: white;
	position: relative;
}

.hero::before {

	background-image: url("https://media.cntraveler.com/photos/5b60c975dc28180da9d6d0d3/master/pass/Brooklyn-Bridge_GettyImages-514819551.jpg");
	background-size: cover;
	filter: brightness(35%);
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
}

.heroContent {
	margin: auto;
	padding-top: 35vh;
	width: 50%;
	text-align: center;
}

.splashButton {
	width: 6vw;
	height: auto;
	background-color: white;
	color: #007bff;
}

.spashButton:hover {
	background-color: #007bff;
	color: white;
	transform: scale(1.05);
}

.heroTitle {
	font-size: 1.5rem;
	font-weight: bold;
}

.heroText {
	font-size: 1.2rem;
}

.arrow {
  box-sizing: border-box;
  height: 1.5vw;
  width: 1.5vw;
  margin: auto;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;

  position: absolute;
  left: 50%;
  bottom: 20;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.heroTop {
	position: absolute;
	top: 30;
	right: 3%;
}

.heroURL {
	padding-left: 1vw;
	padding-right: 1vw;
	text-decoration: none;
	color: white;
}

.heroURL:hover {
	color: white;
}

.heroButton {
	padding-left: 1vw;
	padding-right: 1vw;
	text-decoration: none;
	background-color: none;
	color: white;
}

.heroButton:hover {
	color: white;
}
