html {
  scroll-behavior: smooth;
}

.dash {
	overflow: hidden;
	height: 100%;
	padding-left: 10vw;
	padding-right: 10vw;
	padding-top: 10vh;
}
.hero {
	height: 100vh;
	width: 100vw;
	color: white;
	position: relative;
}

.hero::before {

	background-image: url("https://media.cntraveler.com/photos/5b60c975dc28180da9d6d0d3/master/pass/Brooklyn-Bridge_GettyImages-514819551.jpg");
	background-size: cover;
	filter: brightness(35%);
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity:0.9;
	z-index: -2;
}

.hero2 {
	height: 100vh;
	width: 100vw;
	color: white;
	position: relative;
}

.hero2::before {

	background-image: url("https://www.netimpact.org/sites/default/files/images/Empire_State_Building_Observatory_manhattan_nyc_Julienne_Schaer_055_3f39d2d1-61fd-4d1b-b931-8590bf4c63a7.jpg");
	background-size: cover;
	filter: brightness(35%);
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity:0.9;
	z-index: -2;
}

.hero3 {
	height: 100vh;
	width: 100vw;
	color: white;
	position: relative;
}

.hero3::before {

	background-image: url("https://news.columbia.edu/sites/default/files/styles/cu_crop/public/content/columbia-gs-alma-mater-butler-library.943x530.2.jpg?itok=KpK17OGr");
	background-size: cover;
	filter: brightness(35%);
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity:0.9;
	z-index: -2;
}

.heroContent {
	margin: auto;
	padding-top: 35vh;
	width: 50%;
	text-align: center;
}

.leftContent {
	margin-left: -20vw;
	width: 65%;
}

.rightContent {
	margin-left: 30vw;
	width: 65%;
}

.splashButton {
	width: 6vw;
	height: auto;
	background-color: white;
	color: #007bff;
}

.spashButton:hover {
	background-color: #007bff;
	color: white;
	transform: scale(1.05);
}

.heroTitle {
	font-size: 1.5rem;
	font-weight: bold;
}

.heroText {
	font-size: 1.2rem;
}

.arrow {
  box-sizing: border-box;
  height: 1.5vw;
  width: 1.5vw;
  margin: auto;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;

  position: absolute;
  left: 50%;
  bottom: 20;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.arrowTop {
  box-sizing: border-box;
  height: 1.5vw;
  width: 1.5vw;
  margin: auto;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(225deg);
  transition: border-width 150ms ease-in-out;

  position: absolute;
  left: 50%;
  top: 20;
}

.arrowTop:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.heroTop {
	position: fixed;
	top: 30;
	right: 3%;
}

.heroURL {
	padding-left: 1vw;
	padding-right: 1vw;
	text-decoration: none;
	color: white;
}

.heroURL:hover {
	color: white;
}

.heroButton {
	padding-left: 1vw;
	padding-right: 1vw;
	text-decoration: none;
	background-color: none;
	color: white;
}

.heroButton:hover {
	color: white;
}

/* CHART CSS */

.pieDiv {
	text-align: center;
}

.charts {
	border: solid rgb(197, 192, 192);
}

/* BEGIN DASHBOARD CSS */

.leftSection {
	background-image: url("https://media.cntraveler.com/photos/5b60c975dc28180da9d6d0d3/master/pass/Brooklyn-Bridge_GettyImages-514819551.jpg");
	background-size: cover;
	filter: brightness(35%);
	opacity:0.9;
	z-index: -2;
}

.headerDiv {
	height: 10vh;
	background-image: url("https://media.cntraveler.com/photos/5b60c975dc28180da9d6d0d3/master/pass/Brooklyn-Bridge_GettyImages-514819551.jpg");
	background-size: cover;
	filter: brightness(35%);
	opacity:0.9;
}

.headerLeft {
	float: left;
}

.accountButton {
	margin-left: 5vw;
	float: right;
}

.centerWrapper {
	text-align: center;
}

.progressBar {
  background: #1DA598;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

.wrapBar {
  position: relative;
  height: 20px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #333;
}

.comp {
	margin: 0 auto;
	width: 20vw;
	height: 30vh;
	overflow-y: auto;
	border-width: 1px;
	border: solid rgb(197, 192, 192);
	overflow-x: hidden;
}

.buttons {
	text-align: center;
	position: relative;
	z-index: auto;
}

.mainAddress {
	margin: 4vh;
	text-align: center;
	color: white;
}

.whiteHeader {
	color: white;
}

.categories {
	border: solid rgb(197, 192, 192);
}