<!-- templates/authenticate.html -->  

<html>
<head>
  <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='resources/authenticate.css') }}>
  <script src={{myKeyURL}}>
  </script>
</head>
<body>
  <section class="forms-section">
  <h1 class="section-title">Welcome to HousingData!</h1>
  <div class="forms">
    <div class="form-wrapper is-active">
      <button type="button" class="switcher switcher-login">
        Login
        <span class="underline"></span>
      </button>
      <form class="form form-login" onsubmit="return signInUser()">
        <fieldset>
          <legend>Please enter your email and password to login.</legend>
          <div class="input-block">
            <label for="login-email">E-mail</label>
            <input id="login-email" type="email" required>
          </div>
          <div class="input-block">
            <label for="login-password">Password</label>
            <input id="login-password" type="password" required>
          </div>
        </fieldset>
        <button type="submit"class="btn-login">Login</button>
      </form>
    </div>
    <div class="form-wrapper">
      <button type="button" class="switcher switcher-signup">
        Sign Up
        <span class="underline"></span>
      </button>
      <form class="form form-signup" onsubmit="signUpUser()">
        <fieldset>
          <legend>Please, enter your email, password and password confirmation to sign up.</legend>
          <div class="input-block">
            <label for="signup-email">E-mail</label>
            <input id="signup-email" type="email" required>
          </div>
          <div class="input-block">
            <label for="searchTextField">Address</label>
            <input id="searchTextField" type="text" required="">
          </div>
          <div class="input-block">
            <label for="signup-borough">Borough</label>
            <select id="signup-borough" required>
              <option value="manhattan">Manhattan</option>
              <option value="brooklyn">Brooklyn</option>
              <option value="queens">Queens</option>
              <option value="bronx">The Bronx</option>
              <option value="staten">Staten Island</option>
            </select>
          </div>
          <div class="input-block">
            <label for="signup-password">Password</label>
            <input id="signup-password" type="password" required>
          </div>
          <div class="input-block">
            <label for="signup-password-confirm">Confirm password</label>
            <input id="signup-password-confirm" type="password" required>
          </div>
        </fieldset>
        <button type="submit" class="btn-signup">Continue</button>
      </form>
    </div>
  </div>
      <button type="button" class="cancelbtn" onclick="cancelSignIn()">Cancel</button>
</section>

<script>
    const switchers = [...document.querySelectorAll('.switcher')]

    switchers.forEach(item => {
      item.addEventListener('click', function() {
            switchers.forEach(item => item.parentElement.classList.remove('is-active'))
            this.parentElement.classList.add('is-active')
      })
    })

  function signInUser() {
    //Add sign in POST call
    location = "mainpage";
    return false;
  }

  function signUpUser() {
    //Add sign in POST call
    var email = documet.getElementById('signup-email').value;
    var password = documet.getElementById('signup-password').value;
    var conf_password = documet.getElementById('signup-password-confirm').value;
    var address = documet.getElementById('searchTextField').value;
    var borough = document.getElementById('signup-borough').value;
    if(password == conf_password) {
      getBBL(address, borough, function(myBBL) {
        backend_signup(email, password, address, borough, bbl, function(result){
          console.log("Inject data here");
        });
      });
    }
  }

  async function getBBL(streetAddress, nycBorough, callback) {
    const appID = await getAppID();
    const appKey = await getAppKey();
    var houseNo = '314';
    var street = 'Amsterdam Avenue'
    var formatString = 'https://api.cityofnewyork.us/geoclient/v1/address.json?houseNumber='+houseNo+'&street='+street+'&borough='+nycBorough+'&app_id='+app_id+'&app_key='+appKey;
    //Use this data to make GET call, and return value of the BBL as a promise
  }

  function backend_signup(email, password, address, borough, bbl, callback) {

  }

  function cancelSignIn() {
    location.href = "/"
    //Cancel sign in here
  }

  function forgotUser() {
    location.href = "forgot"
    //Add password reset call here
  }

  function getAppID() {
    return new Promise(function(resolve, reject) {
      //Read private txt file and resolve
      path = '../apiKeys/nyc-appID.txt'
      fetch(path)
        .then(response => response.text())
        .then(text => resolve(text))
    });
  }

  function getAppKey() {
    return new Promise(function(resolve, reject) {
      //Read private txt file and resolve
      path = '../apiKeys/nyc-appKey.txt'
      fetch(path)
        .then(response => response.text())
        .then(text => resolve(text))
    });
  }

  function initialize() {
  var input = document.getElementById('searchTextField');
  new google.maps.places.Autocomplete(input);
  }
  google.maps.event.addDomListener(window, 'load', initialize);
  </script>


</body>
 </html>
