<!-- templates/index.html -->  
<html>

<head>
  <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='resources/index.css') }}>
</head>
  <body>
  <div id="masterHero">
    <button id="infoButton" class="topCorner">Portal Info</button>

    <div id = "centralButtons">
      <h2 id="mainHead"> Making housing complaints more accessible </h2>
      <button id="loginButton">Enter Portal</button>
    </div>

  </div>
  <script> 
    document.getElementById("loginButton").onclick = function () {
        location.href = "login";
    };
  </script>
  </body>
 </html>