<!-- templates/mainpage.html -->  
<html>

<head>
  <script src={{myKeyURL}}>
  </script>

 </head>
  <body>
    <h2>Infomation on your building here!</h2>
    <div class="container">
    </div>
  <button onclick="chosenLocation()">Change Your Building</button>
  <button onclick="editNotification()">Edit your notification preferences</button>
  <button id="logOut">Log Out</button>

  <script>
  document.getElementById("logOut").onclick = function () {
        location.href = "/";
  };

  function chosenLocation() {
    console.log("Give them address + borough prompt");
  }

  function editNotification() {
    console.log("Give them the page to edit notifications");
  }
  </script>
  </body>
 </html>