<!-- templates/mainpage.html -->  
<html>

<head>

 </head>
  <body>
    <h2>Infomation on your building here!</h2>
    <div id="addressDetails">
      <h3>User Address</h3>
      <p>{{address}}</p>
    </div>
    <div id="complaint_contain">
      <h3 id="complaintCount">Number of complaints: {{number}}</h3>
    </div>
  <button onclick="chosenLocation()">Change Your Building</button>
  <button onclick="editNotification()">Edit your notification preferences</button>
  <button id="logOut">Log Out</button>
  <div id='Complaint_Holder'>
  <h3> Open Complaints </h3>
  <div id='Open_Complaints'></div>
  <h3> Closed Complaints </h3>
  <div id='Closed_Complaints'></div>
  </div>


  <script>

  window.onload = function() {
    var open_clean = {{open|safe}};
    open_clean.forEach(element=> {
      var oc = element;

      var create = document.createElement("p");
      var create_txt = document.createTextNode(oc['Date_Created']);
      create.appendChild(create_txt);

      var descrip = document.createElement("p");
      var desc_text = document.createTextNode(oc['Description']);
      descrip.appendChild(desc_text);

      var update = document.createElement("p");
      var updateText = document.createTextNode(oc['Updated_On']);

      var holder = document.createElement("div");
      holder.appendChild(create);
      holder.appendChild(descrip);
      holder.appendChild(update);
      var element = document.getElementById("Open_Complaints");
      element.appendChild(holder);
    });
    var closed_clean = {{closed|safe}};
    closed_clean.forEach(element=> {
      var oc = element;

      var create = document.createElement("p");
      var create_txt = document.createTextNode(oc['Date_Created']);
      create.appendChild(create_txt);

      var descrip = document.createElement("p");
      var desc_text = document.createTextNode(oc['Description']);
      descrip.appendChild(desc_text);

      var update = document.createElement("p");
      var updateText = document.createTextNode(oc['Updated_On']);

      var holder = document.createElement("div");
      holder.appendChild(create);
      holder.appendChild(descrip);
      holder.appendChild(update);
      var element = document.getElementById("Closed_Complaints");
      element.appendChild(holder);
    });

  };
  document.getElementById("logOut").onclick = function () {
        location.href = "/";
  };

  function chosenLocation() {
    console.log("Give them address + borough prompt");
  }

  function editNotification() {
    console.log("Give them the page to edit notifications");
  }
  </script>
  </body>
 </html>