<!-- templates/mainpage.html -->  
<html>

<head>
  <script src={{myKeyURL}}>
  </script>

 </head>
  <body>
    <h2>Infomation on your building here!</h2>
    <div id="addressDetails">
      <h3>User Address</h3>
      <p>1124 Amsterdam Avenue, Manhattan, New York City, New York </p>
    </div>
    <div id="complains">
      <h3>Total Number of Comaplaints: 32 since the year 2014</h3>
      <a href>View comaplaints by date</a>
    </div>
  <button onclick="chosenLocation()">Change Your Building</button>
  <button onclick="editNotification()">Edit your notification preferences</button>
  <button id="logOut">Log Out</button>

  <script>
  document.getElementById("logOut").onclick = function () {
        location.href = "/";
  };

  function chosenLocation() {
    console.log("Give them address + borough prompt");
  }

  function editNotification() {
    console.log("Give them the page to edit notifications");
  }
  </script>
  </body>
 </html>