<!-- templates/index.html -->
<html>

<head>
  <link rel="stylesheet" type="text/css" href='../static/resources/index.css'>
</head>
  <body>
  <div id="masterHero">

    <div class="navbar">
 	  <a id="loginButton">Enter Portal</a>
  	<a href="http://www.columbiaseg.org/cseg-tech">CSEG Tech</a>
    <a id="infoButton" class="topCorner">Portal Info</a>
	</div>
  <div class="border center">
    <div class="about"></div>
      <div class="text center">
        <h1 class="">Making housing complaints more accessible</h1>
      </div>
  </div>

  <script>
    document.getElementById("loginButton").onclick = function () {
        location.href = "login";
    };
  </script>
  </body>
 </html>
